force-app/main/default/flows/JBSystemFlow_Voucher.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SalesforceObj5e99edd00bdd4eb5d0e751db200c8328_FireJBTrigger</name>
        <label>SalesforceObj5e99edd00bdd4eb5d0e751db200c8328_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbdc3642a2287a54268e4649ab6c82f08</targetReference>
        </connector>
        <faultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbdc3642a2287a54268e4649ab6c82f08</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{&quot;relationshipIdName&quot;:&quot;ContactId&quot;,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;referenceObjectName&quot;:&quot;Contact&quot;,&quot;fieldName&quot;:&quot;Id&quot;}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObj5e99edd00bdd4eb5d0e751db200c8328</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7282919</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Voucher:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;CIM_Customer_ID__c&quot;,&quot;et4ae5__Mobile_Country_Code__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Voucher:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Status&quot;,&quot;FaceValue&quot;,&quot;CIM_Id__c&quot;,&quot;VoucherCode&quot;,&quot;RedeemedValue&quot;,&quot;EffectiveDate&quot;,&quot;RemainingValue&quot;,&quot;Reward_Name__c&quot;,&quot;ExpirationDate&quot;,&quot;Member_Email__c&quot;,&quot;Minimum_Spend__c&quot;,&quot;MobilePrefixed__c&quot;,&quot;VoucherDefinitionId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;LoyaltyProgramMember&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;LoyaltyProgramMember&quot;,&quot;dePrefix&quot;:&quot;Voucher:LoyaltyProgramMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email__c&quot;,&quot;CIM_Id__c&quot;,&quot;ProgramId&quot;,&quot;MemberType&quot;,&quot;MemberStatus&quot;,&quot;MembershipNumber&quot;,&quot;Status_Points__c&quot;,&quot;Total_Rewards__c&quot;,&quot;Voucher_Points__c&quot;,&quot;Current_Status_Points__c&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SalesforceObjbdc3642a2287a54268e4649ab6c82f08_FireJBTrigger</name>
        <label>SalesforceObjbdc3642a2287a54268e4649ab6c82f08_FireJBTrigger</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>et4ae5__JBintFireBulkEvent</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ContactKey</name>
            <value>
                <stringValue>{
  &quot;relationshipIdName&quot;: &quot;ContactId&quot;,
  &quot;relationshipName&quot;: &quot;Contact&quot;,
  &quot;isPolymorphic&quot;: false,
  &quot;referenceObjectName&quot;: &quot;Contact&quot;,
  &quot;fieldName&quot;: &quot;Id&quot;
}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectId</name>
            <value>
                <elementReference>new_object.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SalesforceObjectName</name>
            <value>
                <stringValue>Voucher</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDefinitionKey</name>
            <value>
                <stringValue>SalesforceObjbdc3642a2287a54268e4649ab6c82f08</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerMID</name>
            <value>
                <stringValue>7282919</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>VersionNumber</name>
            <value>
                <stringValue>3.0</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ContactPersonType</name>
            <value>
                <stringValue>Contact</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>EventDataConfig</name>
            <value>
                <stringValue>{&quot;objects&quot;:[{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;Contact&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;Contact&quot;,&quot;dePrefix&quot;:&quot;Voucher:Contact:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Email&quot;,&quot;FirstName&quot;,&quot;Birthdate&quot;,&quot;MobilePhone&quot;,&quot;HasOptedOutOfEmail&quot;,&quot;CIM_Customer_ID__c&quot;,&quot;et4ae5__HasOptedOutOfMobile__c&quot;,&quot;et4ae5__Mobile_Country_Code__c&quot;]},{&quot;relationshipIdName&quot;:&quot;&quot;,&quot;referenceObject&quot;:&quot;&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;&quot;,&quot;dePrefix&quot;:&quot;Voucher:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;Name&quot;,&quot;Status&quot;,&quot;FaceValue&quot;,&quot;VoucherCode&quot;,&quot;CreatedDate&quot;,&quot;EffectiveDate&quot;,&quot;ExpirationDate&quot;,&quot;Reward_Name__c&quot;,&quot;Minimum_Spend__c&quot;,&quot;VoucherDefinitionId&quot;,&quot;LoyaltyProgramMemberId&quot;]},{&quot;relationshipIdName&quot;:null,&quot;referenceObject&quot;:&quot;LoyaltyProgramMember&quot;,&quot;isPolymorphic&quot;:false,&quot;relationshipName&quot;:&quot;LoyaltyProgramMember&quot;,&quot;dePrefix&quot;:&quot;Voucher:LoyaltyProgramMember:&quot;,&quot;fields&quot;:[&quot;Id&quot;,&quot;MemberStatus&quot;,&quot;Birth_Day__c&quot;,&quot;Birth_Month__c&quot;,&quot;MembershipNumber&quot;,&quot;Total_Rewards__c&quot;,&quot;Status_Points__c&quot;,&quot;Voucher_Points__c&quot;,&quot;GroupCreatedByMemberId&quot;]}]}</stringValue>
            </value>
        </inputParameters>
        <nameSegment>et4ae5__JBintFireBulkEvent</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObj5e99edd00bdd4eb5d0e751db200c8328</name>
        <label>JB_Decision_Null_Check_SalesforceObj5e99edd00bdd4eb5d0e751db200c8328</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbdc3642a2287a54268e4649ab6c82f08</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObj5e99edd00bdd4eb5d0e751db200c8328_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_Decision_Null_Check_SalesforceObjbdc3642a2287a54268e4649ab6c82f08</targetReference>
            </connector>
            <label>JB_SalesforceObj5e99edd00bdd4eb5d0e751db200c8328_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObj5e99edd00bdd4eb5d0e751db200c8328_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObj5e99edd00bdd4eb5d0e751db200c8328_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObj5e99edd00bdd4eb5d0e751db200c8328_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_Decision_Null_Check_SalesforceObjbdc3642a2287a54268e4649ab6c82f08</name>
        <label>JB_Decision_Null_Check_SalesforceObjbdc3642a2287a54268e4649ab6c82f08</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>JB_SalesforceObjbdc3642a2287a54268e4649ab6c82f08_Parameters_ContactKey_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>JB_SalesforceObjbdc3642a2287a54268e4649ab6c82f08_Parameters_ContactKey_Null</label>
        </rules>
        <rules>
            <name>JB_SalesforceObjbdc3642a2287a54268e4649ab6c82f08_Parameters_Null</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>old_object</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JB_SalesforceObjbdc3642a2287a54268e4649ab6c82f08_Decision</targetReference>
            </connector>
            <label>JB_SalesforceObjbdc3642a2287a54268e4649ab6c82f08_Parameters_Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObj5e99edd00bdd4eb5d0e751db200c8328_Decision</name>
        <label>JB_SalesforceObj5e99edd00bdd4eb5d0e751db200c8328_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>JB_Decision_Null_Check_SalesforceObjbdc3642a2287a54268e4649ab6c82f08</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObj5e99edd00bdd4eb5d0e751db200c8328</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Reward_Name__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Birthday Reward</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObj5e99edd00bdd4eb5d0e751db200c8328_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObj5e99edd00bdd4eb5d0e751db200c8328</label>
        </rules>
    </decisions>
    <decisions>
        <name>JB_SalesforceObjbdc3642a2287a54268e4649ab6c82f08_Decision</name>
        <label>JB_SalesforceObjbdc3642a2287a54268e4649ab6c82f08_Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>SalesforceObjbdc3642a2287a54268e4649ab6c82f08</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>new_object.Reward_Name__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Birthday</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesforceObjbdc3642a2287a54268e4649ab6c82f08_FireJBTrigger</targetReference>
            </connector>
            <label>SalesforceObjbdc3642a2287a54268e4649ab6c82f08</label>
        </rules>
    </decisions>
    <label>JBSystemFlow_Voucher</label>
    <processType>AutoLaunchedFlow</processType>
    <startElementReference>JB_Decision_Null_Check_SalesforceObj5e99edd00bdd4eb5d0e751db200c8328</startElementReference>
    <status>Active</status>
    <variables>
        <name>new_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher</objectType>
    </variables>
    <variables>
        <name>old_object</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Voucher</objectType>
    </variables>
</Flow>
