force-app/main/default/flows/Member_Update_Wallet_External_Service_Callout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Retry_of_WalletExternalServiceCAll</name>
        <label>Retry of WalletExternalServiceCAll</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <actionName>WalletExternalServiceCallout.POSTwalletLinks</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>AssignLinkValues</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>memberno</name>
            <value>
                <elementReference>Get_Member.MembershipNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ApexRequestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WalletExternalServiceCallout.POSTwalletLinks</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>WalletExternalServiceCAll</name>
        <label>WalletExternalServiceCAll</label>
        <locationX>270</locationX>
        <locationY>386</locationY>
        <actionName>WalletExternalServiceCallout.POSTwalletLinks</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Check_Response_TimeOut</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>memberno</name>
            <value>
                <elementReference>Get_Member.MembershipNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>ApexRequestBody</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WalletExternalServiceCallout.POSTwalletLinks</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_payload_values</name>
        <label>Assign payload values</label>
        <locationX>270</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>ApexRequestBody.nextRewardPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member.Status_Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexRequestBody.totalRewards</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member.Total_Rewards__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexRequestBody.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexRequestBody.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member.Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexRequestBody.memberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexRequestBody.membershipNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Member.MembershipNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ApexRequestBody.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WalletExternalServiceCAll</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignLinkValues</name>
        <label>AssignLinkValues</label>
        <locationX>50</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>WalletExternalServiceCAll.2XX.appleWalletLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retry_of_WalletExternalServiceCAll.2XX.appleWalletLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WalletExternalServiceCAll.2XX.googleWalletLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retry_of_WalletExternalServiceCAll.2XX.googleWalletLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>WalletExternalServiceCAll.2XX.membershipNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Retry_of_WalletExternalServiceCAll.2XX.membershipNumber</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Repeat_Get_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignValuesToMemberRecords</name>
        <label>AssignValuesToMemberRecords</label>
        <locationX>138</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>Repeat_Get_Member.Apple_Wallet_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WalletExternalServiceCAll.2XX.appleWalletLink</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Repeat_Get_Member.Google_Wallet_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WalletExternalServiceCAll.2XX.googleWalletLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Member_with_Links</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_WalletLinks_Blank</name>
        <label>Check if WalletLinks Blank</label>
        <locationX>270</locationX>
        <locationY>1010</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WalletLinksBlank</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>Repeat_Get_Member.Apple_Wallet_Link__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Repeat_Get_Member.Google_Wallet_Link__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Repeat_Get_Member.Apple_Wallet_Link__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>empty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Repeat_Get_Member.Google_Wallet_Link__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>empty</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WalletExternalServiceCAll.2XX.membershipNumber</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WalletExternalServiceCAll.2XX.appleWalletLink</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>WalletExternalServiceCAll.2XX.googleWalletLink</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignValuesToMemberRecords</targetReference>
            </connector>
            <label>WalletLinksBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Response_TimeOut</name>
        <label>Check Response TimeOut</label>
        <locationX>270</locationX>
        <locationY>494</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TimedOutOrNULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WalletExternalServiceCAll.2XX.membershipNumber</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retry_of_WalletExternalServiceCAll</targetReference>
            </connector>
            <label>TimedOutOrNULL</label>
        </rules>
        <rules>
            <name>ResponseNOTNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WalletExternalServiceCAll.responseCode</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Repeat_Get_Member</targetReference>
            </connector>
            <label>ResponseNOTNull</label>
        </rules>
    </decisions>
    <description>this flow is used to call wallet &apos;get-wallet-links&apos; endpoint, triggered by enrol member platform event</description>
    <environments>Default</environments>
    <formulas>
        <name>PlusTimeFormula</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE({!plusTimeText})</expression>
    </formulas>
    <formulas>
        <name>plusTimeText</name>
        <dataType>String</dataType>
        <expression>TEXT({!StartTimeplus2s})</expression>
    </formulas>
    <formulas>
        <name>StartTimeplus2s</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.InterviewStartTime} + (2/86400)</expression>
    </formulas>
    <formulas>
        <name>StartTimeText</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Flow.InterviewStartTime})</expression>
    </formulas>
    <formulas>
        <name>UnixTimeResponse</name>
        <dataType>String</dataType>
        <expression>TEXT(VALUE({!StartTimeText})+ VALUE({!callTime}))</expression>
    </formulas>
    <interviewLabel>[Member Update] Wallet External Service Callout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Member Update] Wallet External Service Callout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>270</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_payload_values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Repeat_Get_Member</name>
        <label>Repeat Get Member</label>
        <locationX>270</locationX>
        <locationY>902</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_WalletLinks_Blank</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Member_with_Links</name>
        <label>Update Member with Links</label>
        <locationX>138</locationX>
        <locationY>1226</locationY>
        <inputReference>Repeat_Get_Member</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Member_Enrol_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApexRequestBody</name>
        <apexClass>ExternalService__WalletExternalServiceCallout_POSTwalletLinks_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AppleWalletLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>callTime</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>currenTimeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GoogleWalletLink</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResponseNULL</name>
        <apexClass>ExternalService__WalletExternalServiceCallout_POSTwalletLinks_OUT_2XX</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TargetTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
