force-app/main/default/flows/Member_Contact_Update_To_Trigger_Member_Update_PE_Publishing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>AddToPlatformEventCollection</name>
        <label>AddToPlatformEventCollection</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>MemberUpdateEventRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachMemberUpdateEventRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ForEachMemberRecordFound</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignMemberId</name>
        <label>AssignMemberId</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>eachMemberUpdateEventRecord.Member_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ForEachMemberRecordFound.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToPlatformEventCollection</targetReference>
        </connector>
    </assignments>
    <description>this flow detects change in Contact Firstname or Lastname and trigger a publishing of Member Update platform event for mobile wallet sync</description>
    <environments>Default</environments>
    <interviewLabel>[Member Contact Update] To Trigger Member Update PE Publishing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Member Contact Update] To Trigger Member Update PE Publishing</label>
    <loops>
        <name>ForEachMemberRecordFound</name>
        <label>ForEachMemberRecordFound</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Search_Related_LoyaltyMember_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignMemberId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_MemberUpdate_PlatformEvent_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MemberUpdate_PlatformEvent_Records</name>
        <label>Create MemberUpdate PlatformEvent Records</label>
        <locationX>176</locationX>
        <locationY>839</locationY>
        <inputReference>MemberUpdateEventRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Search_Related_LoyaltyMember_Record</name>
        <label>Search Related LoyaltyMember Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEachMemberRecordFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.PersonContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search_Related_LoyaltyMember_Record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>eachMemberId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eachMemberUpdateEventRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Member_Update_Event__e</objectType>
    </variables>
    <variables>
        <name>MemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>memberRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
    <variables>
        <name>MemberUpdateEventRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Member_Update_Event__e</objectType>
    </variables>
</Flow>
