force-app/main/default/flows/Member_Update_Wallet_Member_Details_and_Points.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>WalletUpdateRewardsCallout</name>
        <label>WalletUpdateRewardsCallout</label>
        <locationX>176</locationX>
        <locationY>602</locationY>
        <actionName>WalletUpdateRewardsPoints.UpdateRewards</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>WalletUpdate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>UpdateRewardsRequest</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WalletUpdateRewardsPoints.UpdateRewards</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_Each_Element_To_Payload_Array</name>
        <label>Add Each Element To Payload  Array</label>
        <locationX>176</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>UpdateRewardsRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RequestPayloadCreate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>WalletUpdateRewardsCallout</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_to_Request</name>
        <label>Assign Values to Request Single Element</label>
        <locationX>176</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>RequestPayloadCreate.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMemberRecords.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestPayloadCreate.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMemberRecords.Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestPayloadCreate.nextRewardPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMemberRecords.Status_Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestPayloadCreate.totalRewards</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMemberRecords.Total_Rewards__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestPayloadCreate.memberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMemberRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestPayloadCreate.membershipNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMemberRecords.MembershipNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RequestPayloadCreate.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Each_Element_To_Payload_Array</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordId</name>
        <label>RecordId</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>memberRecId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetMemberRecords.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Values_to_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>WalletUpdate</name>
        <label>WalletUpdate</label>
        <locationX>176</locationX>
        <locationY>710</locationY>
        <assignmentItems>
            <assignToReference>GetMemberRecords.WalletUpdate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetMemberRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>memberRecId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateMemberRec</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Member Update] Wallet Status Points and Rewards {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Member Update] Wallet Member Details and Points</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetMemberRecords</name>
        <label>GetMemberRecords</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateMemberRec</name>
        <label>UpdateMemberRec</label>
        <locationX>176</locationX>
        <locationY>818</locationY>
        <inputReference>GetMemberRecords</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetMemberRecords</targetReference>
        </connector>
        <flowRunAsUser>DefaultWorkflowUser</flowRunAsUser>
        <object>Member_Update_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>memberRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RequestPayloadCreate</name>
        <apexClass>ExternalService__WalletUpdateRewardsPoints_UpdateRewards_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateRewardsRequest</name>
        <apexClass>ExternalService__WalletUpdateRewardsPoints_UpdateRewards_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
