force-app/main/default/flows/Scheduled_Wallet_Member_Details_and_Points_Batch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_member_update</name>
        <label>Call /member-update</label>
        <locationX>50</locationX>
        <locationY>1448</locationY>
        <actionName>WalletMemberUpdateEndpoint.Member Update Enpoint</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_Retry_Field_of_Collection</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>MemberUpdateCalloutPayload</elementReference>
            </value>
        </inputParameters>
        <nameSegment>WalletMemberUpdateEndpoint.Member Update Enpoint</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>MemberUpdateCalloutPayload</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>eachMemberUpdateDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blank_RetryWallet_Checkbox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_RetryWallet_Checkbox</name>
        <label>Blank RetryWallet Checkbox</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Members.Retry_Wallet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Members.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>memberRecId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loopCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Members_To_Update_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Members_To_Update_Collection</name>
        <label>Members To Update Collection</label>
        <locationX>270</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>MemberRecords2Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Members</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>If_100_Limit_Reached</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecCount_of_GET</name>
        <label>RecCount of GET</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>MemberRecCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Member_Records_for_WalletRetryUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Not_Zero</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RecordId</name>
        <label>RecordId</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>memberRecId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Single_Member_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Member_Details</name>
        <label>Single Member Details</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>eachMemberUpdateDetails.memberId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachMemberUpdateDetails.membershipNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.MembershipNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachMemberUpdateDetails.firstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Contact.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachMemberUpdateDetails.lastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Contact.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachMemberUpdateDetails.totalRewards</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Total_Rewards__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachMemberUpdateDetails.nextRewardPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Status_Points__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachMemberUpdateDetails.orgId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Organization.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>eachMemberUpdateDetails.totalPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Members.Status_Points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Count_Not_Zero</name>
        <label>Count Not Zero</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_Greater_Than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MemberRecCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Members</targetReference>
            </connector>
            <label>Count Greater Than Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_100_Limit_Reached</name>
        <label>If 100 Limit Reached</label>
        <locationX>270</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Members</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LoopCount100</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Call_member_update</targetReference>
            </connector>
            <label>LoopCount100</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Scheduled] Wallet Member Details and Points Batch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Scheduled] Wallet Member Details and Points Batch</label>
    <loops>
        <name>Loop_Through_Members</name>
        <label>Loop Through Members</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_Member_Records_for_WalletRetryUpdate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>RecordId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_member_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Member_Records_for_WalletRetryUpdate</name>
        <label>Get Member Records for WalletRetryUpdate</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecCount_of_GET</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Retry_Wallet__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LoyaltyProgramMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Retry_Field_of_Collection</name>
        <label>Update Retry Field of Collection</label>
        <locationX>50</locationX>
        <locationY>1556</locationY>
        <inputReference>MemberRecords2Update</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member_Records_for_WalletRetryUpdate</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
    <variables>
        <name>EachMemberDetails</name>
        <apexClass>ExternalService__WalletUpdateRewardsPoints_UpdateRewards_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eachMemberUpdateDetails</name>
        <apexClass>ExternalService__WalletMemberUpdateEndpoint_Memberx20Updatex20Enpoint_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>loopCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MemberDetailsCollection</name>
        <apexClass>ExternalService__WalletUpdateRewardsPoints_UpdateRewards_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberRecCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>memberRecId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MemberRecords2Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LoyaltyProgramMember</objectType>
    </variables>
    <variables>
        <name>MemberUpdateCalloutPayload</name>
        <apexClass>ExternalService__WalletMemberUpdateEndpoint_Memberx20Updatex20Enpoint_IN_body</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
